<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo3.mapper.UserMapper">
    <delete id="delteuser" parameterType="int">
        DELETE FROM user WHERE user_id = #{id}
    </delete>
    <select id="selectuser" resultType="com.example.demo3.pojo.User">
        select * from user where user_name=#{name}
    </select>
</mapper>
